<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="../../../styles/base.css">
  <link rel="stylesheet" type="text/css" href="../../../styles/layout.css">
  <link rel="stylesheet" type="text/css" href="../../../styles/modules.css">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  <title>Details</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/searches/new">New Search</a>
      <a href="/searches/show">Show Results</a>
    </nav>
  </header>

  <h1>Book Details</h1>
  <%- include('detail.ejs') %>
</body>
</html>
