<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../../layout/head.ejs') %>

  <title>Book Details</title>

</head>

<body>

  <%- include('../../layout/header.ejs') %>

  <h1>Book Details</h1>
  <%- include('detail.ejs') %>

  <%- include('../../layout/footer.ejs') %>

</body>
</html>
