<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
    <link rel="stylesheet" type="text/css" href="../styles/layout.css">
    <link rel="stylesheet" type="text/css" href="../styles/modules.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    
    <title>Book Search</title>
</head>

<body>
  
  <header>
    <nav>
      <a href="../">Home</a>
      <a href="/searches/new">New Search</a>
      <a href="/searches/show">Show Results</a>
    </nav>
  </header>
  
  <main>


    <section>
      <h3>Search by Title or Author</h3>

      <form action="/searches" method="post">

        <input type="text" name="search" placeholder="Enter a title or author" required>
        
        <fieldset>
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
        </fieldset>

        <fieldset>
          <label for="author">
            <span>Author</span>
            <input type="radio" name="search" value="author" required>
          </label>
        </fieldset>

        <button type="submit">Search the Google Books API</button>

      </form>
    </section>

  </main>

</body>

</html>