<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
    <link rel="stylesheet" type="text/css" href="../styles/layout.css">
    <link rel="stylesheet" type="text/css" href="../styles/modules.css">
    <title>Search Results</title>
</head>
<body>
  <header>

    <nav>
      <a href="../index.ejs">Home</a>
      <a href="/new.ejs">New Search</a>
      <a href="#">Results</a>
    </nav>

  </header>

  <main>
    <h2>Search Results</h2>
    <div>
      <% searchResults.forEach( book => { %>
        <img src="<%=book.thumbnail %>">
        <h2><%= book.title %></h2>
        <h3><%= book.authors %></h3>
        <p><%= book.description %></p>
      <% }) %>
    </div>

  </main>
  
</body>
</html>