<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head.ejs') %>
    <title>Error!</title>
  </head>
<body>

  <%- include('../layout/header.ejs') %>
  
  <main>
    <p>We're sorry, we've encountered an error. Stay tuned.</p>
  </main>
  
  <%- include('../layout/footer.ejs') %>

</body>
</html>